@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,rgb(90, 192, 240),#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section span:hover 
{
  background: rgb(90, 192, 240);
  transition: 0s;
}


section .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

section .signin .content .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section .signin .content .links a 
{
  color: #fff;
  text-decoration: none;
}

section .signin .content .links a:nth-child(2)
{
  color: rgb(90, 192, 240);
  font-weight: 600;
}

section .signin .content .hscore
{
  color: #81863b;
  font-weight: 600;
}

  #game-board {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(224, 235, 245);
  }
  
  .snake {
    position: absolute;
    background-color: #3498db;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    color: azure;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 3px;
  }

  
  .snakeHead {
    position: absolute;
    float: left;
    background-color: #e92791c4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #000;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 3px;
    
  }

  .snakeTail {
    position: absolute;
    border-radius: 10px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    /* for traingle shape */
    /* border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #8eb8d4; */
    color: #8eb8d4;
    /* font-weight: bolder; */
    text-align: center;
  }

  
  
  .food {
    position: absolute;
    background-color: #b44848;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
